<launch>
    <include file="$(find tmb_communication)/launch/robots_start.launch"/>
    <include file="$(find tmb_communication)/launch/robot1_nodes.launch"/>
    <include file="$(find tmb_communication)/launch/robot2_nodes.launch"/>
    <include file="$(find tmb_communication)/launch/multi_map_merge.launch"/>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find tmb_communication)/config/rviz_basic_setup.rviz"/>
</launch>
