<launch>
    <group ns="robot1">
        <!-- Run move_base -->
        <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
            <rosparam file="$(find tmb_communication)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
            <rosparam file="$(find tmb_communication)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
            <rosparam file="$(find tmb_communication)/config/costmap_params.yaml" command="load" />
            <rosparam file="$(find tmb_communication)/config/base_local_planner_params_normal.yaml" command="load" />
            <rosparam file="$(find tmb_communication)/config/robot1/costmap_robot_params.yaml" command="load" />
            <!-- TODO: Probably exchange base local planner -->
            <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" />
            <param name="controller_frequency" value="15.0" />

        </node>
    </group>
    <group ns="robot2" if="$(env tmb_start_both)">

        <!-- Run move_base -->
        <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
            <rosparam file="$(find tmb_communication)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
            <rosparam file="$(find tmb_communication)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
            <rosparam file="$(find tmb_communication)/config/costmap_params.yaml" command="load" />
            <rosparam file="$(find tmb_communication)/config/base_local_planner_params_normal.yaml" command="load" />
            <rosparam file="$(find tmb_communication)/config/robot2/costmap_robot_params.yaml" command="load" />
            <!-- TODO: Probably exchange base local planner -->
            <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" />
            <param name="controller_frequency" value="15.0" />

        </node>
    </group>
    <group ns="blind_robot">

        <!-- Run move_base -->
        <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
            <rosparam file="$(find tmb_communication)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
            <rosparam file="$(find tmb_communication)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
            <rosparam file="$(find tmb_communication)/config/costmap_params.yaml" command="load" />
            <rosparam file="$(find tmb_communication)/config/base_local_planner_params_normal.yaml" command="load" />
            <rosparam file="$(find tmb_communication)/config/robot2/costmap_robot_params.yaml" command="load" />
            <!-- TODO: Probably exchange base local planner -->
            <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" />
            <param name="controller_frequency" value="15.0" />

        </node>
    </group>
</launch>
