<launch>

  <arg name="first_rto"  default="rto_0"/>
  <arg name="second_rto" default="rto_1"/>

  <arg name="first_rto_x_pos" default="0.0"/>
  <arg name="first_rto_y_pos" default="1.0"/>
  <arg name="first_rto_z_pos" default=" 0.0"/>
  <arg name="first_rto_yaw"   default=" 0.0"/>

  <arg name="second_rto_x_pos" default=" 1.0"/>
  <arg name="second_rto_y_pos" default="0.0"/>
  <arg name="second_rto_z_pos" default=" 0.0"/>
  <arg name="second_rto_yaw"   default=" 0.0"/>


  <group ns="$(arg first_rto)/map_merge">
    <param name="init_pose_x"   value="$(arg first_rto_x_pos)"/>
    <param name="init_pose_y"   value="$(arg first_rto_y_pos)"/>
    <param name="init_pose_z"   value="$(arg first_rto_z_pos)"/>
    <param name="init_pose_yaw" value="$(arg first_rto_yaw)"  />
  </group>

  <group ns="$(arg second_rto)/map_merge">
    <param name="init_pose_x"   value="$(arg second_rto_x_pos)"/>
    <param name="init_pose_y"   value="$(arg second_rto_y_pos)"/>
    <param name="init_pose_z"   value="$(arg second_rto_z_pos)"/>
    <param name="init_pose_yaw" value="$(arg second_rto_yaw)"  />
  </group>

  <node pkg="multirobot_map_merge" type="map_merge" respawn="false" name="tmb_merge" output="screen">
    <param name="world_frame" value="map"/>
    <param name="known_init_poses" value="true"/>
    <param name="merging_rate" value="0.5"/>
    <param name="discovery_rate" value="0.05"/>
    <param name="estimation_rate" value="0.1"/>
    <param name="estimation_confidence" value="1.0"/>
  </node>
  
  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg first_rto)_tf_broadcaster"  args="0 0 0 0 0 0 /map /$(arg first_rto)/map 100"/>
  
  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg second_rto)_tf_broadcaster" args="0 0 0 0 0 0 /map /$(arg second_rto)/map 100"/>

    
</launch>
