<launch>
    <arg name="node_start_delay" default="1.0" />
     <group ns="robot_blind">
         <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
             <rosparam file="$(find tmb_communication)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
             <rosparam file="$(find tmb_communication)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
             <rosparam file="$(find tmb_communication)/config/robot_blind/costmap_params.yaml" command="load" />
             <rosparam file="$(find tmb_communication)/config/base_local_planner_params_normal.yaml" command="load" />
             <!-- TODO: Probably exchange base local planner -->
             <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" />
             <param name="controller_frequency" value="15.0" />
         </node>
     </group>
 </launch>
