<?xml version="1.0" ?>
<model>
    <name>Goal_Checkpoint</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Omar Shalaby</name>
        <email></email>
    </author>
    <description>A walkthrough goal for the robots (Colored for the Camera)</description>
</model>
